<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.commonvoice.saverio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CommonVoice"
        android:allowBackup="true"
        android:configChanges="locale"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_cvproject_stable"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cvproject_stable_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <!--SplashScreen-->
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- First start (FirstLaunch) -->
        <activity
            android:name=".FirstLaunch"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen" />
        <!-- The actual app (MainActivity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <!-- SpeakActivity -->
        <activity
            android:name=".SpeakActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <!-- ListenActivity -->
        <activity
            android:name=".ListenActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.TitleBar">
            <nav-graph android:value="@navigation/login_navigation" />
        </activity>
        <!-- FirstRunListen -->
        <activity
            android:name=".FirstRunListen"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- FirstRunSpeak -->
        <activity
            android:name=".FirstRunSpeak"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- Restart -->
        <activity
            android:name=".RestartActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <!-- NotAvailableNow -->
        <activity
            android:name=".NotAvailableNow"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <!-- NotificationReceiver -->
        <receiver
            android:name=".utils.NotificationsDailyGoalReceiver"
            android:exported="true" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="org.commonvoice.saverio_lib.log.TimberInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>