<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.commonvoice.saverio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/ic_commonvoice"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_commonvoice_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <!-- First start (TutorialActivity) -->
        <activity
            android:name=".TutorialActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen"></activity>
        <!-- The actual app (MainActivity) -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- SpeakActivity -->
        <activity
            android:name=".SpeakActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <!-- ListenActivity -->
        <activity
            android:name=".ListenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_BROWSER" />

                <data
                    android:host="auth.mozilla.auth0.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <!-- NoConnectionActivity -->
        <activity
            android:name=".NoConnectionActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <!-- FirstRunListen -->
        <activity
            android:name=".FirstRunListen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <!-- FirstRunSpeak -->
        <activity
            android:name=".FirstRunSpeak"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <!-- Restart -->
        <activity
            android:name=".RestartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <!-- NotAvailableNow -->
        <activity
            android:name=".NotAvailableNow"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <!-- Badges -->
        <activity
            android:name=".BadgesActivity"
            android:label="@string/labelAllBadges"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.TitleBar"></activity>
        <!-- WebBrowser - For Testings only -->
        <activity
            android:name=".WebBrowser"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
    </application>
</manifest>